<a id="main-page-link" routerLink="/main-page">Zurück zur Startseite</a>
<div class="center">
  <h2>Noch Fragen?</h2>
  <label for="fname">Name<br>
  <input type="text" id="name" [ngClass]="{invalid: errorName}" [(ngModel)]="name"/><br>
  <p id="nameErrorMsg" class="error" [innerHTML]="errorNameTxt"></p></label>
  
  <label for="email">E-Mail<br>
  <input type="email" id="email" [ngClass]="{invalid: errorEmail}" [(ngModel)]="email"/><br>
  <p id="emailErrorMsg" class="error" [innerHTML]="errorEmailTxt"></p></label>
  
  <label for="message">Nachricht<br>
  <textarea type="text" id="message" [ngClass]="{invalid: errorMessage}" [(ngModel)]="message"></textarea><br>
  <p id="messageErrorMsg" class="error" [innerHTML]="errorMessageTxt"></p></label>
  
  <div class="separator"></div>
  
  <input type="button" id="submit" value="Abschicken" (click)="submission()">
</div>