<h1>{{title}}</h1>
<div class="center name-container" *ngIf="playerSelect">
  <div class="separator"></div>
  <input class="name-input" [(ngModel)]="playerName" placeholder="{{enterNameText}}">
  <button class="start-button" (click)="checkName()">{{nameBtnText}}</button>
</div>
<div *ngIf="!playerSelect">
  <div class="center">
    <button class="start-button" (click)="startStopGame()">{{startBtnText}}</button>
    <button class="start-button" (click)="pauseGame()" *ngIf="running"
      [class.disabled]="pauseCooldown">{{pauseBtnText}}</button>
  </div>
  <div class="center pause" *ngIf="paused">
    <h1>{{pausedText}}</h1>
    <div *ngIf="qrMode">
      <div class="board" [ngClass]="{qr: qrMode}">
        <div class="row" *ngFor="let row of QR.progress">
          <div class="cell" *ngFor="let cell of row" [class.filled]="cell"></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="gameOver">
    <div class="center game-over-container">
      <h1>{{gameOverText}}</h1>
      <h3>{{gameOverNameText}} {{playerName}}</h3>
      <h3>{{linesText}} {{linesCleared}}</h3>
      <div *ngIf="qrMode">
        <h3>{{progressText}} {{qrProgress}}</h3>
        <div class="progress-container">
          <div class="progress">
            <div class="progress-row" *ngFor="let row of QR.progress">
              <div class="progress-cell" *ngFor="let cell of row" [class.filled]="cell"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!paused && !gameOver">
    <div class="separator"></div>
    <div class="board-container">
      <div class="board" [ngClass]="{qr: qrMode}">
        <div class="row" *ngFor="let row of board">
          <div class="cell" *ngFor="let cell of row" [class.filled]="cell"></div>
        </div>
      </div>
      <div class="info-container">
        <div class="game-text">
          {{nextText}}
        </div>
        <div class="next-piece">
          <div class="row" *ngFor="let row of nextPieceDisplay">
            <div class="cell" *ngFor="let cell of row" [class.filled]="cell"></div>
          </div>
        </div>
        <div class="game-text">{{linesText}} {{linesCleared}}</div>
        <div class="progress-container" *ngIf="qrMode">
          <div class="progress">
            <div class="progress-row" *ngFor="let row of QR.progress">
              <div class="progress-cell" *ngFor="let cell of row" [class.filled]="cell"></div>
            </div>
          </div>
          <div class="game-text">{{progressText}} {{qrProgress}}</div>
        </div>
      </div>
    </div>
    <p class="center">{{controlsText}}</p>
    <div class="controller-container">
      <button class="controller" (click)="moveLeft()">←</button>
      <button class="controller" (click)="moveDown()">↓</button>
      <button class="controller" (click)="moveRight()">→</button>
      <button class="controller" (click)="rotateLeft()">↺</button>
      <button class="controller" (click)="hardDrop()">⇟</button>
      <button class="controller" (click)="rotateRight()">↻</button>
    </div>
  </div>
</div>