.board-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto;
  padding: 10px;
}

.game-over-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto;
  padding: 10px;
}

.info-container {
  display: grid;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, min(30px,3vw));
  margin: 10px;
  border: 3px solid white;
}

.qr {
  grid-template-columns: repeat(21, min(30px, 3vw)) !important;
  width: fit-content;
}

.row {
  display: contents;
}

.cell {
  width: min(30px, 3vw);
  height: min(30px, 3vw);
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background-color: white;
}

.progress-container {
  display: grid;
  align-content: center;
  justify-content: center;
}

.progress {
  display: grid;
  grid-template-columns: repeat(21, min(6px, 1vw));
  margin: 6px;
  border: 3px solid white;
}

.progress-row {
  display: contents;
}

.progress-cell {
  width: min(6px, 1vw);
  height: min(6px, 1vw);
  background-color: white;
}

.color-1 {
  background-color: black;
}

.color-7 {
  background-color: #e00;
}

.color-3 {
  background-color: #e80;
}

.color-4 {
  background-color: #fc0;
}

.color-5 {
  background-color: #0c0;
}

.color-8 {
  background-color: #0cc;
}

.color-2 {
  background-color: #00e;
}

.color-6 {
  background-color: #d0d;
}

.name-input {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
}

.start-button {
  display: inline-block;
  padding: 1vw;
  width: min(200px, 20vw);
  vertical-align: middle;
  font-size: large;
  font-weight: 700;
}

.next-piece, .held-piece {
  display: grid;
  right: 0px;
  padding: 10px;
  grid-template-columns: repeat(4, min(30px, 3vw));
}

.game-text {
  text-align: center;
}

.disabled {
  color: lightgrey;
  background-color: grey;
  border-color: white;
}

.pause {
  width: calc(21*30px);
  height: calc(21*30px);
  padding: 24px;
  align-items: middle;
}

.controller {
  display: inline-grid;
  width: min(100px, 15vw);
  height: min(100px, 15vw);
  align-content: center;
  padding: 2vw;
  font-size: x-large;
}

.controller-container {
  display: grid;
  grid-template-columns: repeat(3, min(100px, 17vw));
  grid-template-rows: repeat(2, min(100px, 17vw));
  justify-content: center;
}

.move {
  grid-row: span 2;
  height: min(200px, 32vw) !important;
}