@if (playerSelect) {
  <div class="center name-container">
    <div class="separator"></div>
    <input class="name-input" [(ngModel)]="playerName" placeholder="{{enterNameText}}">
    <button class="start-button" (click)="checkName()">{{nameBtnText}}</button>
  </div>
}
@if (!playerSelect) {
  <div>
    <div class="center">
      <button class="start-button" (click)="startStopGame()">{{startBtnText}}</button>
      @if (running) {
        <button class="start-button" (click)="pauseGame()"
        [class.disabled]="pauseCooldown">{{pauseBtnText}}</button>
      }
    </div>
    @if (paused) {
      <div class="center pause">
        <h1>{{pausedText}}</h1>
        @if (qrMode) {
          <div>
            <div class="thick-border board" [ngClass]="{qr: qrMode}">
              @for (row of QR.progress; track row) {
                <div class="row">
                  @for (cell of row; track cell) {
                    <div class="cell" class="borderless color-{{cell}}"></div>
                  }
                </div>
              }
            </div>
          </div>
        }
      </div>
    }
    @if (gameOver) {
      <div>
        <div class="center game-over-container">
          <h1>{{gameOverText}}</h1>
          <h3>{{gameOverNameText}} {{playerName}}</h3>
          <h3>{{linesText}} {{linesCleared}}</h3>
          @if (qrMode) {
            <div>
              <h3>{{progressText}} {{qrProgress}}</h3>
              <div class="progress-container">
                <div class="progress">
                  @for (row of QR.progress; track row) {
                    <div class="progress-row">
                      @for (cell of row; track cell) {
                        <div class="progress-cell" class="color-{{cell}}"></div>
                      }
                    </div>
                  }
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    }
    @if (!paused && !gameOver) {
      <div>
        <div class="separator"></div>
        <div class="board-container">
          <div class="board" [ngClass]="{qr: qrMode}">
            @for (row of board; track row) {
              <div class="row">
                @for (cell of row; track cell) {
                  <div class="cell" class="color-{{cell}}"></div>
                }
              </div>
            }
          </div>
          <div class="info-container">
            <div class="game-text">{{nextText}}</div>
            <div class="next-piece">
              @for (row of nextPieceDisplay; track row) {
                <div class="row">
                  @for (cell of row; track cell) {
                    <div class="cell" class="color-{{cell}}"></div>
                  }
                </div>
              }
            </div>
            <div class="game-text">{{heldText}}</div>
            <div class="held-piece">
              @for (row of heldPieceDisplay; track row) {
                <div class="row">
                  @for (cell of row; track cell) {
                    <div class="cell" class="color-{{cell}}"></div>
                  }
                </div>
              }
            </div>
            <div class="game-text">{{linesText}} {{linesCleared}}</div>
            @if (qrMode) {
              <div class="progress-container">
                <div class="progress">
                  @for (row of QR.progress; track row) {
                    <div class="progress-row">
                      @for (cell of row; track cell) {
                        <div class="progress-cell" class="color-{{cell}}"></div>
                      }
                    </div>
                  }
                </div>
                <div class="game-text">{{progressText}} {{qrProgress}}</div>
              </div>
            }
          </div>
        </div>
        <p class="center" [innerHTML]="controlsText"></p>
        <div class="controller-container">
          <button class="controller move" (click)="moveLeft()">←</button>
          <button class="controller" (click)="holdPiece()">↹</button>
          <button class="controller move" (click)="moveRight()">→</button>
          <button class="controller" (click)="moveDown()">↓</button>
          <button class="controller" (click)="rotateLeft()">↺</button>
          <button class="controller" (click)="hardDrop()">⇟</button>
          <button class="controller" (click)="rotateRight()">↻</button>
        </div>
      </div>
    }
  </div>
}