<h1 class="gradient-text">Konkon's Kontent</h1>

<div class="inline-table-child">
  <h2>Social Media</h2>
  <table class="navigation center">
    <tr>
      <th>
        <a href="https://bsky.app/profile/konkon.zip">Bluesky</a>
      </th>  
      <th>
        <a href="https://x.com/konkondotzip">Twitter / X</a>
      </th>
    </tr>
  </table>
</div>
<div class="inline-table-child">
  <h2>Other Stuff</h2>
  <table class="navigation center">
    <tr>
      <th>
        <a routerLink="/keyboard-main-page">Keyboards (🇩🇪)</a>
      </th>
    </tr>
  </table>
</div>