th {
  text-align: center;
  font-weight: bold;
}

th a {
  display: block;
  font-size: larger;
  padding: 5vh;
  text-decoration: none;
  color: var(--color-bg);
}

th:hover, th a:hover {
  background-image: var(--color-gradient);
  color: var(--color-fg);
}

.social-media-link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  color: var(--color-bg);
  background-color: var(--color-fg);
  background-color: var(--color-fg);
  border: 10px solid var(--color-orange);
  padding: 10px;
  padding: 10px;
  margin: 10px auto;
  width: 10%;
}