th {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

th a {
  display: block;
  font-size: larger;
  text-decoration: none;
  color: var(--color-bg);
}

.invalid {
  background-color: red;
}

.errorMsg {
  color: red;
  text-align: center;
}