:root {
  --color-dark: #2e1e15;
  --color-bright: #fee1d8;
  --color-bg: var(--color-bright);
  --color-orange: #f09b4b;
  --color-fg: var(--color-dark);
  --color-link: #1e5511;
  --color-hover: #63a853;
  --color-error: indianred;
  --color-gradient: linear-gradient(white, var(--color-bg));
  --text-gradient: linear-gradient(var(--color-orange), var(--color-fg));
}

.dark-theme {
  --color-bg: var(--color-dark) !important;
  --color-fg: var(--color-bright) !important;
  --color-link: #63a853 !important;
  --color-hover: #1e5511 !important;
  --color-error: darkred;
  --color-gradient: linear-gradient(var(--color-bg), black) !important;
  --text-gradient: linear-gradient(var(--color-fg), var(--color-orange)) !important;
}

.kon {
  color: transparent;
  background-image: var(--text-gradient);
  background-clip: text;
  font-weight: bold;
}

.link-button {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  color: var(--color-bg);
  background-color: var(--color-fg);
  background-color: var(--color-fg);
  border: 10px solid var(--color-orange);
  padding: 10px;
  padding: 10px;
  margin: 10px auto;
  width: 300px;
}

.link-button:hover {
  background-image: var(--color-gradient);
  color: var(--color-fg);
}

h1 {
  color: transparent;
  background-image: var(--text-gradient);
  background-clip: text;
}

html {
  background-color: var(--color-bg);
  font-family: 'Fira Code', 'JetBrains Mono', 'Consolas', 'Courier New', monospace;
  color: var(--color-fg);
  --div-width: clamp(500px, 70%, 1000px);
  --font-size: 12pt;
  font-size: var(--font-size);
}

@font-face {
  font-family: 'Fira Code';
  src: url('../public/assets/font/FiraCode.ttf') format('truetype');
}

select, button, input, textarea {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1%;
  width: 25%;
  margin: 0px 4.5px;
  color: var(--color-fg);
  background-color: var(--color-bg);
  border: solid var(--color-orange) 2px;
}

body {
  margin: 0;
}

.submit-button {
  font-size: small;
  width: fit-content;
}

textarea {
  width: 50%;
  height: 100px;
}

button {
  cursor: pointer;
  border-radius: 10px;
  color: var(--color-bg);
  background-color: var(--color-fg);
}

footer {
  text-align: right;
}

.bottom-padding {
  padding: 100px;
}

.separator {
  padding: 1ch;
}

.center, table.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

#back-to-top {
  background-color: var(--color-link);
  color: var(--color-bg);
  position: fixed;
  padding: 10px;
  bottom: 34px;
  right: 0;
}

table {
  width: var(--div-width);
  background-color: var(--color-orange);
  padding: 5px;
  border-spacing: 5px;
}

td {
  background-color: var(--color-bg);
  padding: 10px;
  text-align: left;
}

th {
  background-color: var(--color-fg);
  color: var(--color-bg);
}

a {
  color: var(--color-link);
}

p {
  width: var(--div-width);
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
}

.source, .annotation {
  font-size: smaller;
  color: var(--color-orange);
}
.source a, .annotation {
  color: var(--color-orange);
}

h1, h2, h3 {
  text-align: center;
}

.invalid {
  background-color: var(--color-error);
}

.error {
  color: red;
  text-align: center;
}

.hidden {
  display: none;
}

.inline-table-child {
  display: inline-table;
  width: 50%;
}

.inline-block-child {
  display: inline-block;
}