:root {
  --color-dark: #2e1e15;
  --color-bright: #fee1d8;
  --color-bg: var(--color-bright);
  --color-table: #f09b4b;
  --color-fg: var(--color-dark);
  --color-link: #1e5511;
  --color-hover: #63a853;
  --color-error: indianred;
  --color-gradient: linear-gradient(white, var(--color-bg));
}

.dark-theme {
  --color-bg: var(--color-dark) !important;
  --color-fg: var(--color-bright) !important;
  --color-link: #63a853 !important;
  --color-hover: #1e5511 !important;
  --color-error: darkred;
  --color-gradient: linear-gradient(var(--color-bg), black) !important;
}

html {
  background-color: var(--color-bg);
  font-family: 'Fira Code', 'JetBrains Mono', 'Consolas', 'Courier New', monospace;
  color: var(--color-fg);
  --div-width: clamp(500px, 70%, 1000px);
  --font-size: 12pt;
  font-size: var(--font-size);
}

@font-face {
  font-family: 'Fira Code';
  src: url('./app/assets/font/FiraCode.ttf') format('truetype');
}

select, button, input, textarea {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1%;
  width: 25%;
  margin: 0px 4.5px;
  color: var(--color-fg);
  background-color: var(--color-bg);
  border: solid var(--color-table) 2px;
}

.submit-button {
  font-size: small;
  width: fit-content;
}

textarea {
  width: 50%;
  height: 100px;
}

button {
  cursor: pointer;
  border-radius: 10px;
  color: var(--color-bg);
  background-color: var(--color-fg);
}

footer {
  text-align: right;
}

.navigation {
  table-layout: fixed;
  width: 40%;
}

.bottom-padding {
  padding: 100px;
}

.separator {
  padding: 1ch;
}

.center, table.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#main-page-link {
  background-color: var(--color-table);
  color: var(--color-dark);
  position: fixed;
  padding: 10px;
  top: 0;
  right: 0;
  z-index: 99;
}

#back-to-top {
  background-color: var(--color-table);
  color: var(--color-dark);
  position: fixed;
  padding: 10px;
  bottom: 34px;
  right: 0;
}

#theme-toggle {
  background-color: var(--color-dark);
  border-right: solid var(--color-table) 1px !important;
  border-bottom: solid var(--color-table) 1px !important;
  color: var(--color-fg);
  position: fixed;
  padding: 10px;
  height: 41px;
  margin: 0;
  border-radius: 0;
  border: 0;
  top: 0;
  left: 0;
  width: auto;
  cursor: pointer;
}

table {
  width: var(--div-width);
  background-color: var(--color-table);
  padding: 5px;
  border-spacing: 5px;
}

td {
  background-color: var(--color-bg);
  padding: 10px;
  text-align: left;
}

th {
  background-color: var(--color-fg);
  color: var(--color-bg);
}

a {
  color: var(--color-link);
}

p {
  width: var(--div-width);
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
}

.source, .annotation {
  font-size: smaller;
  color: var(--color-table);
}
.source a, .annotation {
  color: var(--color-table);
}

h1, h2, h3 {
  text-align: center;
}

img {
  width: var(--div-width);
}

.invalid {
  background-color: var(--color-error);
}

.error {
  color: red;
  text-align: center;
}

.hidden {
  display: none;
}

.inline-table-child {
  display: inline-table;
  width: 50%;
}

.inline-block-child {
  display: inline-block;
}